# check this link to know how to set up NODE_AUTH_TOKEN
# https://icapitalnetwork.atlassian.net/wiki/spaces/ONBRDNG/pages/1982464701/Project+Setup#7.-Setup-Personal-Access-Token

registry=https://registry.npmjs.org/
@icapitalnetwork:registry=https://artifactory.simon.io:443/artifactory/api/npm/npm-repo
